<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.midian.bishilai">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.launcher.permission.WRITE_SETTINGS"/>

    <application
        android:name="com.midian.bishilai.app.BaseAppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1"
        tools:replace="@android:name,theme">
        <activity android:name="com.midian.bishilai.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".MainActivity"-->
            <!--android:launchMode="singleTop"-->
            <!--android:screenOrientation="portrait"/>-->
        <!--引导页-->
        <activity android:name=".activity.ActivityGuide"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--列表筛选页面-->
        <activity android:name=".activity.ActivitySearchResult"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--商品详情页面-->
        <activity android:name=".activity.ActivityGoodDetail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--商品评论页面-->
        <activity android:name=".activity.ActivityComment"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--我的钱包-->
        <activity android:name=".activity.ActivityMyWallet"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--我的余额明细-->
        <activity android:name=".activity.ActivityBalance"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--我的银行卡-->
        <activity android:name=".activity.ActivityCard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--我的消息-->
        <activity android:name=".activity.ActivityMyNews"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--优惠券-->
        <activity android:name=".activity.ActivityCoupon"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--系统设置-->
        <activity android:name=".activity.ActivitySetting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--个人资料-->
        <activity android:name=".activity.ActivityPersonalData"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--修改密码-->
        <activity android:name=".activity.ActivityChangePass"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--关于-->
        <activity android:name=".activity.ActivityAbout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--消息通知-->
        <activity android:name=".activity.ActivityNewsNotice"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--订单管理-->
        <activity android:name=".activity.ActivityBook"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--收货地址-->
        <activity android:name=".activity.ActivityReceiveAdress"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--添加收货地址-->
        <activity android:name=".activity.ActivityAddAdress"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--添加收货地址-->
        <activity android:name=".activity.ActivityBookDetail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--忘记密码-->
        <activity android:name=".activity.ActivityForgetPass"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--注册-->
        <activity android:name=".activity.ActivityRegister"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--登录-->
        <activity android:name=".activity.ActivityLogin"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--选择商品-->
        <activity android:name=".activity.ActivityChooseGood"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--排行榜-->
        <activity android:name=".activity.ActivityRankingList"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--春季养生-->
        <activity android:name=".activity.ActivitySpringHealth"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--微博-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
            <!--<service android:name="com.sina.weibo.sdk.net.DownloadService"-->
                <!--android:exported="false">-->
            <!--</service>-->
        </activity>
        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/>
    </application>

</manifest>